@using WebApplication1.Models;
@using WebApplication1.Controllers;

@{
    ViewData["Title"] = "Home Page";
    bool IsAdmin = (bool)ViewData["IsAdmin"];       
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="alert alert-danger mt-3">    
    @if (IsAdmin = true)
    {
        <p>You are admin!</p>
    }
    else
    {
        <p>You aren't admin!</p>
    }
</div>

